#demo1{
  
    background-color: #86ffef;
}

#demo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #86ffef;
    border-radius: 5px;
    padding: 5px;
    color: rgb(0, 0, 0);
    width: 15%;
    height: 40px;
    font-weight: 500;

}
#demo3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #86ffef;
    border-radius: 5px;
    padding: 5px;
    color: rgb(7, 7, 7);
    width: 15%;
    height: 40px;
    font-weight: 500;
 
}

#demo4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #86ffef;
    border-radius: 5px;
    padding: 5px;
    color: rgb(5, 5, 5);
    width: 60%;
    height: 50px;
    font-weight: 500;

}
.body {
    background-image: url(https://conteudo.imguol.com.br/c/entretenimento/70/2021/05/25/codigo-binario-1621982130311_v2_3x4.jpg)
}
.palavra {

color: rgb(0, 0, 0);

}
